

.plateview {
    float: left;
    font-size: 15px;
}

.plate {
    display: inline-block;
    width: 37.1rem;
    margin: 0.9rem 1.8rem;
    border: solid 0.5rem #20AA73;
    border-radius: 0.9rem 0.9rem 0.9rem 0.9rem;
    padding: 0 0.45rem 0.9rem 0;
}

.label {
    width: 2.25rem;
    height: 2.25rem;
    line-height: 2.25rem;
    font-family: monospace;
    vertical-align: middle;
    text-align: center;
    float: left;
    border: solid 0.09rem rgba(255, 255, 255, 0);
    margin: 0.15rem;
}

.label > .info {
    display: inline-block;
    -webkit-transform: translate(0rem, -5.5rem) rotate(-35deg);
    transform: translate(0rem, -5.5rem) rotate(-35deg);
    white-space: nowrap;
    text-align: left;
    vertical-align: top;
}

.label.A, .label.B, .label.C, .label.D, .label.E, .label.F, .label.G, .label.H {
    clear: both;
}

.A, .B, .C, .D, .E, .F, .G, .H {
    font-weight: bold;
}

.well {
    display: block;
    height: 2.25rem;
    width: 2.25rem;
    line-height: 2.25rem;
    font-size: 0.9rem;
    margin: 0.15rem;
    border: solid 0.09rem #3ab0e2;
    border-radius: 50%;
    vertical-align: middle;
    text-align: center;
    float: left;
}

.table {
    margin: 0 0 40px 0;
    width: 100%;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0);
    display: table;
}
@media screen and (max-width: 580px) {
    .table {
        display: block;
    }
}

.row {
    display: table-row;
    background: #f6f6f6;
}
.row:nth-of-type(odd) {
    background: #e9e9e9;
}
.row.header {
    font-weight: 900;
    color: #ffffff;
    background-color: #27ae60;
}

@media screen and (max-width: 580px) {
    .row {
        padding: 8px 0;
        display: block;
    }
}

.cell {
    padding: 6px 12px;
    display: table-cell;
}
@media screen and (max-width: 580px) {
    .cell {
        padding: 2px 12px;
        display: block;
    }
}


@keyframes checkbox-check{
    0%{
        width: 0;
        height: 0;
        border-color: #212121;
        transform: translate3d(0,0,0) rotate(45deg);
    }
    33%{
        width: .2em;
        height: 0;
        transform: translate3d(0,0,0) rotate(45deg);
    }
    100%{
        width: .2em;
        height: .5em;
        border-color: #212121;
        transform: translate3d(0,-.5em,0) rotate(45deg);
    }
}


.box {
    margin-left: 42%;
    margin-top: 400px;
    margin-bottom: 20px;
    text-decoration: none;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {

    visibility: hidden;
    width: 120px;
    background-color: #0066CD;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}